<h1>New residential_address</h1>

<%= render 'form' %>

<%= link_to_iconable 'Back', [@client, :residential_addresses], class: "index-item show-text" %>

<script type="text/javascript">
  residential_address_patch.bloom("new");
</script>

